<!DOCTYPE html>
<html>

<head>
  <title>Memories</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, inicial-scale=1">
		<meta name="author" content="Nikola Knežević">
		<meta name="keywords" content="Zadar, Croatia, Holiday, Memories, Apartments, odmor, sveti, petar, na, moru, hrvatska, dalmacija, dalmatia">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">	
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
  <div class="container - fluid">
  
    <div class="col-md-12">
      <h1>Dobro dosli na web mjesto Memories apartmani - 
      <br>
      Sv. Petar na moru</h2>
    </div>

    <div class="col-md-4">
			<div class="slide">
				<img src = "{{url_for ('static', filename = 'images/slide_images/slide1.jpg')}}" width="100%" height="100%"/>
			</div>	
			<div class="slide">
				<img src = "{{url_for ('static', filename = 'images/slide_images/slide2.jpg')}}" width="100%" height="100%"/>
			</div>
			<div class="slide">
				<img src = "{{url_for ('static', filename = 'images/slide_images/slide3.jpg')}}" width="100%" height="100%"/>
			</div>
			<div class="slide">
				<img src = "{{url_for ('static', filename = 'images/slide_images/slide4.jpg')}}" width="100%" height="100%"/>
			</div>	
			<div class="slide">
				<img src = "{{url_for ('static', filename = 'images/slide_images/slide5.jpg')}}" width="100%" height="100%"/>
			</div>
			<div class="slide">
				<img src = "{{url_for ('static', filename = 'images/slide_images/slide6.jpg')}}" width="100%" height="100%"/>
			</div>
			<div class="slide">
        <img src = "{{url_for ('static', filename = 'images/slide_images/slide7.jpg')}}" width="100%" height="100%"/>
			</div>	
			<div class="slide">
				<img src = "{{url_for ('static', filename = 'images/slide_images/slide8.jpg')}}" width="100%" height="100%"/>
			</div>
			<div class="slide">
				<img src = "{{url_for ('static', filename = 'images/slide_images/slide9.jpg')}}" width="100%" height="100%"/>
			</div>
			<div class="slide">
				<img src = "{{url_for ('static', filename = 'images/slide_images/slide10.jpg')}}" width="100%" height="100%"/>
			</div>	
    </div>
    
    <div class="col-md-4">

      <a href='/home'><h4>Nastavi kao gost </h4></a>

      <h4>Vec si boravio kod nas? <br> Odlicno, unesi svoje podatke </h4>
          
      <div class="col-md-4">
        <div class="columns is-centered">
          <div class="column is-half">
            <form method="POST">
              <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="username" placeholder="Username">
                </div>
              </div>

              <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" name="password" placeholder="Password">
                </p>
              </div>

              <div class="field">
                <p class="control">
                  <button type="submit" class="button is-success">
                    Prijava
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4"> 
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Grad: {{ weather.name }}</li>
          <li class="list-group-item">
            <img src="http://openweathermap.org/img/wn/{{weather.weather[0].icon}}.png"> {{ weather.weather[0].description }} </li>
          <li class="list-group-item">Datum: {{ datetime.fromtimestamp( weather.dt ).strftime('%d.%m.%Y.')}}</li>
          <li class="list-group-item">Posljednje mjerenje: {{ datetime.fromtimestamp( weather.dt ).strftime('%H:%M')}}</li>
          <li class="list-group-item">Temperatura: {{ weather.main.temp }} C</li>
          <li class="list-group-item">Osjet: {{ weather.main.feels_like }} C</li>
          <li class="list-group-item">Vlaznost zraka: {{ weather.main.humidity }} %</li>
          <li class="list-group-item">Brzina vjetra: {{ weather.wind.speed }} km/h</li>
        </ul>
      </div>
    </div>

  <script type="text/javascript" src="{{url_for('static', filename='js/slide.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/menures.js')}}"></script>
</body>

</html>